fastapi==0.134.0
uvicorn==0.41.0
firebase_admin==7.3.0
psycopg[binary,pool]==3.3.3
langchain==1.2.10
langgraph==1.0.10
langgraph-checkpoint-postgres==3.0.5
langchain-groq==1.1.2
langchain-experimental==0.4.1
sentence-transformers==5.2.3
transformers==5.2.0
torch==2.10.0+cpu
python-dotenv==1.2.1
python-multipart==0.0.22
pypdf==6.7.4
PyMuPDF==1.27.1